<!DOCTYPE html>
<html>

<style>
    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        font-family: Arial;
    }

    .title {
        text-align: center;
        padding: 2rem;
    }
</style>

<head>
    <title>Interface</title>
    <script src="./env.js"></script>
    <script type="module" src="./components/controller.js"></script>
</head>

<body>
    <h1 class="title">Send messages to JAMES with mqtt</h1>
    <controller-Ƅ></controller-Ƅ>
</body>

</html>